<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Contact info</h2>

    <!-- action="submit_success" refers to the route inside server.py -->
    <form action="submit_success" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="username" />

      <label for="email">Email</label>
      <input type="email" name="useremail" id="email" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
