<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/mystyle.css" />
  </head>
  <body>
    <h1>woooooo flask use jinja</h1>

    <!-- <h1>Hello {{data}}</h1> -->
    {{ 5*6 }}
    <h2>website made with flask (light weight) and python pip install flask</h2>

    <h3>initial setup: run py -3 -m venv venv</h3>

    <h3>cd venv and run . Scripts/activate</h3>

    <h3>static file has to be inside the static folder</h3>

    <a href="about">about</a>
  </body>
</html>
